.settings
.classpath
.factorypath
.project
.vscode
Thumbs.db
target
tmp
app-db
logs
node_modules
memo
nbactions.xml
DOCUMENT_J.md
*.code-workspace
*.mdb
*.save
*.orig
*.bat
*.log
*.txt
/var/www/html/zebra/